<div class="container-fluid p-0 mt-4">

    <h2 class="text-center">Ultima uscita</h2>
    <div class="row m-0 pb-4 height">
        <div class="col-10 col-md-4 offset-1 offset-md-2">
            <img src="http://localhost:1337{{last.Image.formats.large.url}}" style="width: 80%" />
        </div>
        <div class="col-10 col-md-4 offset-1">
            <h3>
                {{last.Title}}
            </h3>
            <p>
                {{last.Description}}
            </p>
        </div>
    </div>

    <div class="line"></div>
    <div class="col-10 offset-1 col-md-4 offset-md-4">
        <app-modal></app-modal>

    </div>