<div class="container heigth">

    <div class="container">
        <div class="container__item landing-page-container">
            <div class="content__wrapper">

                <header class="header">
                    <ul class="social-container header__item">
                        <li class="social__icon social__icon--fb">
                            <a href="https://t.me/accademiadeipugni" target="_blank"> <img
                                    src="https://image.flaticon.com/icons/svg/1077/1077048.svg" alt="telegram">
                            </a>
                        </li>

                        <li class="social__icon social__icon--in">
                            <a href="https://instagram.com/accademiadeipugni?igshid=m7vxry8kx5y8">
                                <img src="https://image.flaticon.com/icons/svg/1077/1077042.svg" alt="instagram">
                            </a>
                        </li>
                    </ul>
                </header>

                <p class="coords">N 49° 16' 35.173" / W 0° 42' 11.30"</p>

                <div class="ellipses-container">

                    <h2 class="greeting">Il podcast più fresh</h2>

                    <div class="ellipses ellipses__outer--thin">

                        <div class="ellipses ellipses__orbit"></div>

                    </div>

                    <div class="ellipses ellipses__outer--thick"></div>
                </div>


            </div>
        </div>

    </div>


    <app-slider>
    </app-slider>
</div>