.scroll {
    height: 80px;
    overflow-y: hidden;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transform: scale(0.95);
   
}

.scroll:hover{
    height: 100%;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    overflow-y: hidden;
    transform: scale(1);
    box-shadow: -1px 12px 22px 2px rgba(0,0,0,0.21);
}



.img-card{
    width: 45px;
    height: 45px;
    border-radius: 5%;
    object-fit:contain;
}

.mh-120{
    min-height: 50vh;
}