

[type=radio] {
  display: none;
}

h2,p{
   color: rgb(26, 26, 26);
  letter-spacing: 0.15em;
  }
   

#slider {
  height: 60vh;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);  
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
  
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

.mkt-3dSlider {  padding: 72px 0 }

.card-slider {
  background: #121212f3;
  width: 25%;
  height: auto;
}

.text{
  font-size: 1em;
  letter-spacing: 0.57em;
}

.text-1{
  font-size: 0.8em;
  letter-spacing: 0.57em;
}

img{
  width: 100%;
 height: auto;
  border-radius: 10px;
  background-size: 100% 100%;
}



@media only screen and (max-width: 768px) {
  
  .card-slider {
    background: #121212f3;
    width: 50%;
    height: auto;
  }
  h2,p{
    color: rgb(26, 26, 26);
   letter-spacing: 0.1em;
   }
    
 }