<div class="container-fluid m-0 p-0 ">
    <div class="row m-0 p-0 ">

        <div class="col-10 offset-1 col-md-6 offset-md-3 text-center p-0 my-4 ">
            <img class="logo" src="../../assets/logo.jpg" alt="">
        </div>
    </div>


    <div class="row my-3 ">

        <div class="col-6 offset-3 col-md-3 offset-md-1 ">
            <a class="a-nav" [routerLink]="['/']">Home</a>
        </div>

        <div class="col-6 offset-3 col-md-3 offset-md-1">
            <a class="a-nav" [routerLink]="['/podcast']">Podcast</a>
        </div>

        <div class="col-6 offset-3 col-md-3 offset-md-1 ">
            <a class="a-nav" [routerLink]="['/contact']">About us</a>
        </div>
    </div>
</div>
<div class="line">

</div>