body{
  width: 100%;
}

  .logo{
    height: 100px;
    width: 90%;
    object-fit: contain;
    position: relative;
    top: 10%;
   
  }

  .social {
    width: 30px;
    height: 30px;   
}



  .a-nav {
    color: rgb(26, 26, 26);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    width: 125px;
    padding: 15px 20px;
    position: relative;
  }
  .a-nav:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(26, 26, 26);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .a-nav:hover:after { 
    width: 100%; 
    left: 0; 
  }


