<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0 ">

        <div class="col-10 offset-1 col-md-6 offset-md-3 text-center p-0">
            <img class="logo" src="../../assets/logo.jpg" alt="">
        </div>
    </div>

    <div class="row mt-3 m-0 p-4">
        <div class="col-8 offset-2 col-md-6 offset-md-3 text-center p-0 ">
            <span class="m-3 text-center">
                <a href="https://t.me/accademiadeipugni" target="_blank">
                    <img class="social" src="https://image.flaticon.com/icons/svg/1077/1077048.svg" alt="telegram">
                </a>
            </span>

            <span class="m-3 text-center">
                <a href="https://instagram.com/accademiadeipugni?igshid=m7vxry8kx5y8" target="_blank">
                    <img class="social" src="https://image.flaticon.com/icons/svg/1077/1077042.svg" alt="instagram">
                </a>
            </span>


        </div>
    </div>

    <div class="row my-3 ">

        <div class="col-6 offset-3 col-md-3 offset-md-1 ">
            <a class="a-nav" [routerLink]="['/']">Home</a>
        </div>

        <div class="col-6 offset-3 col-md-3 offset-md-1">
            <a class="a-nav" [routerLink]="['/podcast']">Podcast</a>
        </div>

        <div class="col-6 offset-3 col-md-3 offset-md-1 ">
            <a class="a-nav" [routerLink]="['/contact']">Contact</a>
        </div>
    </div>
</div>
<div class="line">

</div>