<footer class="container-fluid mh-100 bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="../../assets/logo.jpg" class="w-50 logo-footer">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
                                dignissimos iure
                                dicta error reiciendis voluptates ullam. Dignissimos mollitia fuga cumque hic obcaecati.
                                Dignissimos iure aperiam itaque id, pariatur minus facere!</p>

                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> About Company</h6>
                        <p>But horizontal lines can only be a full pixel high.</p>
                        <a href="#" class="btn-footer"> More Info </a><br>
                        <a href="#" class="btn-footer"> Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6> Help us</h6>


                        <ul>
                            <li> <a href="#"> Home</a> </li>
                            <li> <a href="#"> About</a> </li>
                            <li> <a href="#"> Service</a> </li>
                            <li> <a href="#"> Team</a> </li>
                            <li> <a href="#"> Help</a> </li>
                            <li> <a href="#"> Contact</a> </li>
                        </ul>

                    </div>
                    <div class="col-md-6 pb-2 ">
                        <h6> Newsletter</h6>

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse vero ipsum temporibus
                            quibusdam rerum dolorum fuga quidem in et assumenda. Rerum, culpa dolore. Pariatur ad soluta
                            officiis laborum aspernatur ullam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>