<section class="footer-area footer-dark mt-4">
    <div class="container p-0">
        <div class="row justify-content-center p-0 m-0">
            <div class="col-lg-6">
                <div class=" text-center">
                    <img class="f-logo" src="../../assets/photo.jpg" alt="Logo" />
                </div>
                <!-- footer logo -->

                <!-- social -->
                <div class="footer-support text-center">
                    <span class="number"></span>
                    <span class="mail">www.accademiadeipugni.com</span>
                </div>

                <!--  copyright -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>